{% extends "blogs/base.html" %}
{% load socialaccount %}


{% block title %}
    login
{% endblock title %}




{% block body %}

<h2>Login</h2>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
    <a href="{% url 'signup' %}" style="text-decoration: None; color: orangered;"><b>Don't have an account?</b></a>

</form>
<a href="{% provider_login_url 'google' %}" style="text-decoration: None; color: red;"><b>Login With Google</b></a><br>
<a href="{% provider_login_url 'facebook' %}" style="text-decoration: None; color: blue;"><b>Login With Facebook</b></a><br>
<a href="{% provider_login_url 'github' %}" style="text-decoration: None; color: darkblue;"><b>Login With Github</b></a>

{% endblock body %}