<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        
        {% endblock title %}
    </title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        {% for message in messages %}
            {% if message.tags == 'info' %}
                <p align="center" style="color: yellow, text-sh"><b>{{message}}</b></p>
            {% endif %}
                {% if message.tags == 'warning' %}
                <p align="center" style="color: orange"><b>{{message}}</b></p>
            {% endif %}
                {% if message.tags == 'error' %}
                <p align="center" style="color: red"><b>{{message}}</b></p>
            {% endif %}
                {% if message.tags == 'success' %}
                <p align="center" style="color: green"><b>{{message}}</b></p>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% block body %}
    
    {% endblock body %}
    
</body>
</html>