{% extends "blogs/base.html" %}


{% block title %}
    Blogs
{% endblock title %}

{% block body %}

<h2 align="center">My Blogs</h2>

{% if blogs %}
    {% for blog in blogs %}
    <ul>
        <li style="border: 2px solid grey; padding: 20px; border-radius: 15px; text-align: justify;">
            <p><b>Title: </b>{{ blog.title }}</p>
            <p><b>Description: </b>{{ blog.description }}</p>
            <p><b>Category: </b>{{ blog.category }}</p>
            <a href="{% url 'blog_detail' blog.slug %}" style="text-decoration: None; color: blue;"><b>Details</b></a>
            <a href="{% url 'delete' blog.slug %}" style="text-decoration: None; color: red;"><b>Delete</b></a>
            <a href="{% url 'update' blog.slug %}" style="text-decoration: None; color: Green;"><b>Modify this Blog</b></a>
            <br>
            <br>
        </li>
    </ul>
    {% endfor %}
{% else %}
    <p style="color: gray;">No Blogs Found!</p>
{% endif %}


{% if page_obj.has_next and page_obj.has_previous %}
<div style="display: flex; justify-content: space-between;">
<a href="?page={{ page_obj.previous_page_number }}" style="text-decoration: None;"><b>Previous Page</b></a>
<a href="?page={{ page_obj.next_page_number }}" style="text-decoration: None;"><b>Next Page</b></a>
</div>
{% elif page_obj.has_next %}
<div style="display: flex; justify-content: right;">
    <a href="?page={{ page_obj.next_page_number }}" style="text-decoration: None;"><b>Next Page</b></a>
</div>
{% elif page_obj.has_previous %}
<div style="display: flex; justify-content: left;">
    <a href="?page={{ page_obj.previous_page_number }}" style="text-decoration: None;"><b>Previous Page</b></a>
</div>

{% endif %}

{% if page_obj.paginator.num_pages != 1 %}
    <p align="center" style="color:grey">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
{% endif %}

<h3 align="center">
    <a href="{% url 'home' %}" style="text-decoration: None;color: grey;"><b>Go Back</b></a>
</h3>
<hr>

{% endblock body %}