{% extends "blogs/base.html" %}

{% block title %}
    favourites
{% endblock title %}

{% block body %}
<h2 align="center">Favourites</h2>

{% if favourites %}
{% for favourite in favourites %}
<ul>
    <p><b>User: </b>{{ favourite.user }}</p>
    <p><b>Title: </b>{{ favourite.title }}</p>
    <p><b>Description: </b>{{ favourite.description }}</p>
    <p><b>Category: </b>{{ favourite.category }}</p>
    <a href="{% url 'blog_detail' favourite.slug %}" style="text-decoration: None; color: blue;"><b>Details</b></a>
    <br>
    <br>
</ul>
{% endfor %}
{% else %}
    You haven't any favourite blog
{% endif %}

<h3 align="center">
    <a href="{% url 'home' %}" style="text-decoration: None;color: grey;"><b>Go Back</b></a>
</h3>
<hr>

{% endblock body %}