{% extends "blogs/base.html" %}

{% block title %}
    home
{% endblock title %}

{% block body %}
<h2>Welcome {{request.user}}</h2>

<ul>
    <li>
        <a href="{% url 'create' %}" style="text-decoration: None; color: blue;"><b>Add a Blog</b></a><br><br>
    </li>
    <li>
        <a href="{% url 'blog_list' %}" style="text-decoration: None; color: blue;"><b>My Blogs {% if blog_count != 0  %}({{ blog_count }}){% endif %}</b></a><br><br>
    </li>
    <li>
        <a href="{% url 'favourites' %}" style="text-decoration: None; color: Green;"><b>My Favourite Blogs</b></a><br><br>
    </li>
    <li>
        <a href="{% url 'follower' %}" style="text-decoration: None; color: red;"><b>Followers {% if follower_count != 0  %}({{ follower_count }}){% endif %}</b></a><br><br>
    </li>
    <li>
        <a href="{% url 'following' %}" style="text-decoration: None; color: orangered;"><b>Followings {% if following_count != 0  %}({{ following_count }}){% endif %}</b></a><br><br>
    </li>
    <li>
        <a href="{% url 'feed_list' %}" style="text-decoration: None; color: crimson;"><b>Feed</b></a><br><br>
    </li>
</ul>

{% endblock body %}