{% extends "blogs/base.html" %}

{% block title %}
    recommended
{% endblock title %}


{% block body %}
{% if recommendations %}

<h2 align="center">{{ request.user.interest.category }} Category</h2>

    {% for recommended in recommendations %}
        {% if recommended.user != request.user %}
            <ul>
                <li style="border: 2px solid darkblue; border-radius: 25px; padding: 15px;">
                    <p><b>User: </b>{{ recommended.user }}</p>
                    <p><b>Title: </b>{{ recommended.title }}</p>
                    <p><b>Description: </b>{{ recommended.description }}</p>
                    <p><b>Category: </b>{{ recommended.category }}</p>
                    <p><b style="color:darkblue">{{ recommended.user.username }} is interested in {{ recommended.user.interest.category }}</b></p>
                    <br>
                    <br>
                </li>
            </ul>
        {% endif %}
    {% endfor %}

{% else %}
    <p style="color: gray;">No Blogs Found!</p>
{% endif %}

<h3 align="center">
    <a href="{% url 'home' %}" style="text-decoration: None;color: grey;"><b>Go Back</b></a>
</h3>
<hr>
{% endblock body %}