{% extends "blogs/base.html" %}

{% block title %}
    followers
{% endblock title %}

{% block body %}
<h2 align="center">My Followers</h2>

{% if followers %}
<p>Click a user to view blogs</p><br>

    {% for follower in followers %}
    <ul>
        <li style="color: red;">
            <b><a href="{% url 'follower_blogs' follower.follower %}" style="text-decoration: None; color: darkblue;">{{ follower.follower }}</a></b> ( Interested in {{ follower.following.interest.category }} category )<br><br>
        </li>
    </ul>
    {% endfor %}
{% else %}
    <p style="color: gray;">You have no Followers Yet!</p>
{% endif %}

<h3 align="center">
    <a href="{% url 'home' %}" style="text-decoration: None;color: grey;"><b>Go Back</b></a>
</h3>
<hr>

{% endblock body %}