{% extends "blogs/base.html" %}

{% block title %}
    {{ user }} blogs
{% endblock title %}

{% block body %}

<h2 align="center">{{ user|upper }}</h2>


{% if following_blogs %}
    {% for blog in following_blogs %}
    <ul>
        <li style="border: 2px solid darkblue; border-radius: 25px; padding: 15px;">
            <p><b>Title: </b>{{ blog.title }}</p>
            <p><b>Description: </b>{{ blog.description }}</p>
            <p><b>Category: </b>{{ blog.category }}</p>
            <p><b>Published at: </b>{{ blog.published_at }}</p>
            <br>
        </li>
    </ul>
    {% endfor %}
{% else %}
    <p style="color: gray;">No Blogs Found</p>
{% endif %}

<h3 align="center">
    <a href="{% url 'home' %}" style="text-decoration: None;color: grey;"><b>Go Back</b></a>
</h3>
<hr>

{% endblock body %}