{% extends "blogs/base.html" %}


{% block title %}
    Blogs
{% endblock title %}

{% block body %}

<h2 align="center">My Products</h2>

{% if my_products %}
    {% for product in my_products %}
    <ul style="max-width: 1000px;">
        <li style="border: 2px solid grey; padding: 20px; border-radius: 15px; text-align: justify;">
            <p><b>Name: </b>{{ product.name }}</p>
            <p><b>Brand: </b>{{ product.brand }}</p>
            <p><b>Description: </b>{{ product.description }}</p>
            <p><b>Stock: </b>{{ product.stock }}</p>
            <img src="{{ product.image.url }}" alt="" style="max-width: 300px;">
            <p><b>Price: </b><strike style="color: silver;">{{ product.price }}$</strike> {{ product.discounted_price|floatformat:0 }}$</p>
            <p align="center" style="color: green;"><b>{{ product.discount|floatformat:0 }}%OFF</b></p>
            <a href="{% url 'UpdateProduct' product.slug %}">Update</a>
            <br>
            <br>
        </li>
    </ul>
    {% endfor %}
{% else %}
    <p style="color: gray;">You haven't added any product!</p>
{% endif %}


{% if page_obj.has_next and page_obj.has_previous %}
<div style="display: flex; justify-content: space-between;">
<a href="?page={{ page_obj.previous_page_number }}" style="text-decoration: None;"><b>Previous Page</b></a>
<a href="?page={{ page_obj.next_page_number }}" style="text-decoration: None;"><b>Next Page</b></a>
</div>
{% elif page_obj.has_next %}
<div style="display: flex; justify-content: right;">
    <a href="?page={{ page_obj.next_page_number }}" style="text-decoration: None;"><b>Next Page</b></a>
</div>
{% elif page_obj.has_previous %}
<div style="display: flex; justify-content: left;">
    <a href="?page={{ page_obj.previous_page_number }}" style="text-decoration: None;"><b>Previous Page</b></a>
</div>

{% endif %}

{% if page_obj.paginator.num_pages != 1 %}
    <p align="center" style="color:grey">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</p>
{% endif %}

<h3 align="center">
    <a href="{% url 'home' %}" style="text-decoration: None;color: grey;"><b>Go Back</b></a>
</h3>
<hr>

{% endblock body %}